.sidebar-section {
    width: 85px;
    display: flex;
    flex-direction: column;
    /* background-color: #FFF; */
}

.hamburger {
    height: 115px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-top: 100px;

}

.hamburger div {
    width: 40px;
    height: 40px;
    position: absolute;
}
.ham-line-first {
 background: url(../img/github-logo-1.svg);
}
.ham-line-second {
    background: url(../img/github-logo-2.svg);
   }
   .ham-line-third {
    background: url(../img/github-logo-3.svg);
   }

#short {
    /* width: 25%; */
    transition: width .7s ease;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    align-items: center;
    margin-top: 200px;
}





